
@{
    ViewBag.Title = "Imprimir";
}

<h2>Resumen</h2>

Resultado: @ViewBag.Nombre

<a href="@Url.Action("Print","Home")" class="btn btn-success btn-lg pull-right" type="button">Convertir a Pdf</a>

